@import url(../css/normalize.css);
@import url(../fonts/fonts.css);

body {
  width: 100%;
  color: #1F2A36;
  background-color: #E5E5E5;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 1.3px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}
body.fixed {
  overflow-y: hidden;
}

section {
  padding: 60px 0px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.fr {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.fr-fs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  
  justify-content: flex-start;
  margin: 0 -15px;
}
.fi-4{
  box-sizing: border-box;

  width: calc(100% / 12 * 3 - 30px);
  margin: 15px;
}
.fi-3{
  box-sizing: border-box;

  width: calc(100% / 12 * 4 - 30px);
  margin: 15px;
}
.fi-2 {
  box-sizing: border-box;

  width: calc(100% / 12 * 6 - 30px);
  margin: 15px;
}


@media screen and (max-width: 768px) {
  .fi-3,
  .fi-4 {
    width: calc(100% / 12 * 6 - 30px);
  }
}
@media screen and (max-width: 520px) {
  .fi-2,
  .fi-3,
  .fi-4 {
    width: calc(100% / 12 * 120 - 30px);
  }
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection{
  color            : #fff;
  background-color : #39B563
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection{
  color            : #fff;
  background-color : #39B563
}

::-moz-selection{
  color            : #fff;
  background-color : #39B563
}

::selection{
  color            : #fff;
  background-color : #39B563
}

::-moz-selection{
  color            : #fff;
  background-color : #39B563
}
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select {
  text-decoration: none;
  outline: none;
  -moz-transition: all 0.4s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  cursor: pointer;
}
button {
  border: transparent;
  background: none;
}
input,
textarea{
	color: #444444;
  font-family: 'Gilroy';
	font-size: 14px;
	padding: 15px 30px;
	background: none;
  border: 2px solid #E5E5E5;
  border-radius: 6px;
}
input[type="submit"] {
  border: transparent;
}
.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
  box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.64);
}
  .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69);
    box-shadow: 0px 16px 32px -9px rgba(0,0,0,0.69);
  }

.form__input::-webkit-input-placeholder { color: #444444f; }
.form__input::-ms-input-placeholder { color: #444444f; }
.form__input::-ms-input-placeholder { color: #444444f; }
.form__input::placeholder { color: #444444; } 

select {
    color: #1F2A36;
    font-size: 13px;
    padding: 10px 20px;
    background: none;
    border: 1px solid transparent;
}
option {
  color: #000;
}
textarea {
    resize:none;
}
input:focus,
textarea:focus{
	background: none;
	color: #000;
	-webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  border-color: #39B563;
	outline: none;
}
input:active,
textarea:active{
  -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  border-color: #39B563;
	outline: none;
}
ol, ul {
	list-style-type: none;
	padding-left: 0;
}
a {
  color: #000;
  font-size: 14px;
}
a:hover {
  color: #39B563;
}

button:active{
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
  box-shadow: inset 0px 0px 5px 1px rgba(2, 191, 219, 0.34);
}

.hidden {
	display: none !important;
}
.btn {
	font-size: 12px;
	font-family: 'Gilroy-ExtraBold';
  text-transform: uppercase;
  text-align: center;
	padding: 15px 30px;
  color: #fff;
  background-color: #39B54A;
  border-radius: 6px;
	position: relative;
  -webkit-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.16);
}
  .btn:hover {
    color: #fff;
    background-color: #68CC76;
    -webkit-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
    box-shadow: 0px 12px 22px 3px rgba(0,0,0,0.23);
  }
.popup__container {
  padding: 40px;
  background-color: transparent;
}
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #225634;
  }
  .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .popup_call__wrp {
    max-width: 420px;
  }
    .popup__wrp:before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      z-index: 1;
      background: #438da4;
      background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
      background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
      background: linear-gradient(to right, #438da4 0%,#39b563 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
      opacity: .7;
    }
    .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
      justify-content: flex-start;
      background-color: #fff;
      color: #000;
      padding: 20px 65px 30px;
      text-align: center;
    }
      .popup__ttl {
        font-family: 'Gilroy-ExtraBold', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px;
      }
      .popup__wrp .form__input {
        color: #000;
        margin-bottom: 15px;
      }
        .popup__wrp .form__input {
          color: #000;
        }
      input.form__input::-webkit-input-placeholder { color: #000; }
      input.form__input::-ms-input-placeholder { color: #000; }
      input.form__input::-ms-input-placeholder { color: #000; }
      input.form__input::placeholder { color: #000; } 

      .popup__wrp .form__input_submit {
        color: #fff;
        width: 100%;
        background-color: #39B563;
        border-color: #39B563;
      }
      .popup__policy {
        margin-top: 15px;
        max-width: 230px;
        text-align: center;
        font-size: 12px;
      }
        .popup__policy a {
          font-size: 12px; 
          color: #39B563;
        }
.section__ttl {
  font-size: 40px;
  font-family: 'Gilroy-ExtraBold';
  letter-spacing: 3.2px;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}
.header {
  background-color: #E1F1E8;
  -webkit-box-shadow: 0px 8px 13px -5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 8px 13px -5px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 8px 13px -5px rgba(0, 0, 0, 0.53);
}
  .header__top-wrp {
    border-bottom: 1px solid #39b54a47;
  }
  .header__top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 25px 0 16px;
  }
  .main-logo:hover {
    opacity: 0.7;
  }
  .gradient {
    background: #438da4;
    background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
    background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
    background: linear-gradient(to right, #438da4 0%,#39b563 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
  }
  .header__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .header__info-item {
      position: relative;
      padding-left: 20px;
      letter-spacing: 0;
    }
      .header__info-item:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: 0;
        top: 1px;
        background-position: 50% 50%;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .header__info-item_geo:before {
        background-image: url(../img/header__geo.svg);
      }
      .header__info-item_tel:before {
        background-image: url(../img/header__tel.svg);
      }
      .header__info-item_watches:before {
        background-image: url(../img/header__watches.svg);
      }
    .header__info-item:not(last-child) {
      margin-right: 25px;
    }
  .header__container {
    position: relative;
  }
  .main-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0;
  }
    .main-nav__link {
      font-weight: 600;
      padding: 20px 40px; 
      text-transform: uppercase;
      position: relative;
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
    }
    .main-nav__link:hover {
      color: #fff;
      background-color: #67a794;
    }
      /*.main-nav__link:after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7.6px;
        right: -3px;
        top: 24px;
        background: url(../img/main-nav__plus.svg) no-repeat 50% 50% / contain;
        z-index: 2;
      }*/
      .main-nav__link:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        right: 0;
        left: 0;
        top: -1px;
        background-color: #39B54A;
        z-index: 2;
        opacity: 0;
      }
      .main-nav__link:hover:before {
        opacity: 1;
      }
     .main-nav__link:after {
        bottom: -19px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136,183,213,0);
        border-bottom-color: rgba(255,255,255,.95);
        border-width: 6px;
        margin-left: -6px;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
        transition: all .6s cubic-bezier(.23,1,.32,1);
        z-index: 100;
      }
    .main-nav__link-wrp_sub:hover .main-nav__link:after {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      transition: all .9s cubic-bezier(.23,1,.32,1);
    }
  .main-nav__submenu {
    background-color: rgba(255,255,255,.95);
    width: 100%;
    padding: 25px;
    margin: 0;
    position: absolute;
    left: 35px;
    top: 78px;
    right: 35px;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    transition: all .6s cubic-bezier(.23,1,.32,1);
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    border-radius: 6px;
    z-index: 2;
  }
  .main-nav__link-wrp_sub:hover .main-nav__submenu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: all .9s cubic-bezier(.23,1,.32,1);
  }
    .main-nav__submenu-item-ttl {
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'Gilroy-ExtraBold';
    }
    .main-nav__submenu-item-list {
      margin-top: 9px;
      max-width: 250px;
    }
      .main-nav__submenu-item-link:not(last-child) {
        margin-bottom: 4px;
        display: block;
      }
.main-slider {
  background: url(../img/main-slider__bg.jpg) no-repeat 50% 50% / cover;
  position: relative;
}
  .main-slider:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #438da4;
    background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
    background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
    background: linear-gradient(to right, #438da4 0%,#39b563 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
    opacity: .7;
  }
  .main-slider__container {
    position: relative;
    color: #fff;
  }
    .main-slider__wrp {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
    }
      .main-slider__list {
        width: 40%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin: 0 30px 0 0;
        padding: 55px 0;
      }
        .main-slider__list-item {
          font-family: 'Gilroy-ExtraBold';
          text-transform: uppercase;
          font-size: 16px;
          padding: 40px 0 40px 85px;
          position: relative;
          cursor: pointer;
        }
          .main-slider__list-item:before {
            position: absolute;
            content: '';
            width: 52px;
            height: 52px;
            left: 0;
            top: 20px;
            background-position: 50% 50%;
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;
          }
          .main-slider__list-item:nth-child(1):before {
            background-image: url(../img/main-slider__item-img_1.svg);
          }
          .main-slider__list-item:nth-child(2):before {
            top: 35px;
            background-image: url(../img/main-slider__item-img_2.svg);
          }
          .main-slider__list-item:nth-child(3):before {
            background-image: url(../img/main-slider__item-img_3.svg);
          }
        .main-slider__list-item:nth-child(1),
        .main-slider__list-item:nth-child(2) {
          border-bottom: 1px solid #fff;
        }
      .main-slider__cnt {
        width: 60%;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding: 55px 0;
      }
        .main-slider__content-item {
          position: relative;
          padding-right: 250px;
        }
          .main-slider__content-item:after {
            position: absolute;
            content: '';
            right: 30px;
            bottom: -100px;
            width: 217px;
            height: 406px;
            background: url(../img/main-slider__item-girl.png) no-repeat 50% 50% / contain;
          }
          .main-slider__ttl {
            font-size: 28px;
            font-family: 'Gilroy-ExtraBold';
            margin-bottom: 25px;
            text-transform: uppercase;
          }
          .main-slider__descr {
            line-height: 1.6;
            margin-bottom: 40px;
          }
          .main-slider__btn {
            background-color: #fff;
            color: #000;
          }
          .main-slider__btn:hover {
            color: #fff;
            background-color: #39B54A;
          }
  .adv__item-wrp {
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;
  }
    .adv__item-wrp:before {
      position: absolute;
      content: '';
      width: 110%;
      height: 110%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #438da4;
      background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
      background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
      background: linear-gradient(to right, #438da4 0%,#39b563 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
      opacity: .7;
    }
    .adv__item {
      position: relative;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
      padding: 30px;
    }
      .adv__item-img {
        width: 50px;
        height: 53px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        margin-bottom: 15px;
      }
      .adv__item-ttl {
        font-family: 'Gilroy-ExtraBold';
        text-align: center;
        color: #fff;
        text-transform: uppercase;
      }
  .principals {
    background: url(../img/princ__bg.jpg) no-repeat 50% 50% / cover;
  }
  .princ__subttl {
    font-weight: 600;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 35px;
  }
  .princ__item-wrp {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 252px;
    border-radius: 6px;
    overflow: hidden;
    position: relative; 
  }
    .princ__item-wrp:before {
      position: absolute;
      content: '';
      width: 110%;
      height: 110%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #000;
      opacity: .7;
    }
    .princ__item-wrp:after {
      position: absolute;
      content: '';
      width: 110%;
      height: 110%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #438da4;
      background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
      background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
      background: linear-gradient(to right, #438da4 0%,#39b563 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
      opacity: 0;
    }
    .princ__item {
      position: relative; 
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      z-index: 2;
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
      -o-transform: translateY(70px);
      transform: translateY(70px); 
    }
      .princ__item-ttl {
        font-family: 'Gilroy-ExtraBold';
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;  
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
      .princ__item-descr {
        text-align: center;
        color: #fff;
        opacity: 0; 
        visibility: hidden;  
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    .princ__item-wrp:hover:after {
      opacity: .7;
    }
    .princ__item-wrp:hover:before {
      opacity: .0;
    }
      .princ__item-wrp:hover .princ__item {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
      }
      .princ__item-wrp:hover .princ__item-descr {
        opacity: 1; 
        visibility: visible;   
      }
.feed {
  background: url(../img/feed__bg.jpg) fixed no-repeat 50% 50% / cover;
  color: #fff;
  position: relative;
}
  .feed:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .75;
  }
  .feed__container {
    position: relative;
  }
  .feed .section__ttl {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .feed .section__ttl span {
    color: #39B54A;
  }
  .feed__form {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .feed__form .input__wrp {
      background-color: #fff;
    }
    .input__wrp {
      position: relative;
      border: 1px solid #fff;
      max-width: 230px;
      border-radius: 6px;
    }
      .input__wrp input {
        font-weight: 600;
        width: 100%;
        padding-left: 35px;
      }
      .input__wrp:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 15px;
        width: 16px;
        height: 17px;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .input__wrp_name:before {
        background-image: url(../img/feed__item-img_name.svg);
      }
      .input__wrp_mail:before {
        background-image: url(../img/feed__item-img_email.svg);
      }
      .input__wrp_tel:before {
        background-image: url(../img/feed__item-img_tel.svg);
      }
    .feed__form .input__wrp:not(last-child) {
      margin-right: 6px;
    }
    .policy__checkbox-wrp {
      margin: 35px auto 15px;
      display: block;
      max-width: 360px;
    }
      .policy__link {
        text-decoration: underline;
        color: #39B54A;
      }
    .policy__checkbox-wrp input[type="checkbox"] {
        position: absolute;
        z-index: 1;
        opacity: 0;
        width: 280px;
        height: 60px;
  }

    .checkbox__text {
        position: relative;
        padding: 2px 0 0 25px;
        cursor: pointer;
    }
      .checkbox__text:before {
        content: '';
        position: absolute;
        top: 0px;
        left: -2px;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid #c3c2c2;
        background: #fff;
      }
      .checkbox__text:after {
        content: '';
        position: absolute;
        top: 5px;
        left: -2px;
        width: 20px;
        height: 12px;
        background: url(../img/policy__gal.svg) no-repeat 50% 50% / contain;
        opacity: 0;
        transform: scale(0);
        transition: 0.2s;
      }

      .policy__checkbox-wrp input[type="checkbox"]:checked + .checkbox__text:after {
        opacity: 1;
        transform: scale(1);
      }
      .policy__checkbox-wrp input[type="checkbox"]:checked + .checkbox__text:before {
        background-color: #fff;
        border: 1px solid #39B54A;
      }
      .policy__checkbox-wrp input[type="checkbox"]:focus + .checkbox__text:before {
        box-shadow: inset 0 1px 2px rgba(0,0,0,.2), 0 0 0 1px rgba(49, 179, 237, 0.61);
      }
.about {
  background-color: #fff;
}
  .about .section__ttl {
    text-align: left;
  }
  .about__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }
    .about__left {
      width: 40%;
      position: relative;
      padding: 30px 25px 50px 0;
    }
      .about__left:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 845px;
        height: 602px;
        background: url(../img/about__bg.jpg) no-repeat 50% 50% / cover;
      }
      .about__left-cnt {
        position: relative;
        color: #fff;
      }
        .about__logo {
          margin: 25px 0;
        }
        .about__subttl {
          text-transform: uppercase;
          font-size: 20px;
          font-family: 'Gilroy-ExtraBold';
          margin: 25px auto 15px;
        }
        .about__descr {
          margin: 20px auto 45px;
        }
        .about__btn {
          background-color: #fff;
          color: #000;
        }
        .about__btn:hover {
          color: #fff;
          background-color: #39B54A;
        }
    .about__right {
      color: #000;
      width: 60%;
      padding-left: 45px;
    }
      .about__item:not(last-child) {
        margin-bottom: 50px;
        position: relative;
      }
        .about__item:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 15%;
          background-color: #000;
          left: 0;
          bottom: -25px;
        }
        .about__item:nth-child(6) {
          margin-bottom: 0;
        }
        .about__item:nth-child(6):after {
          display: none;
        }
        .about__item-ttl {
          font-size: 20px;
          text-transform: uppercase;
          font-family: 'Gilroy-ExtraBold';
          margin-bottom: 9px;
        }
          .about__item-ttl span {
            color: #39B54A;
          }
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next.disabled:hover,
.owl-carousel .owl-nav .owl-prev.disabled:hover {
  opacity: .5;
}
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-prev:hover {
  opacity: 1;
}
.owl-carousel .owl-dots{
  position:absolute;
  width:100%;
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:-o-flex;
  display:flex;
  justify-content:center;
  bottom: -45px;
}
.owl-carousel button.owl-dot{
  width:15px;
  height:15px;
  border-radius:50%;
  border:1px solid #333;
  background-color:transparent;
  position:relative;
  transform:scale(1);
}
.owl-carousel button.owl-dot:not(:last-child){
  margin-right:13px;
}
.owl-carousel button.owl-dot.active{
  transform:scale(0.9);
  border:1px solid #fff;
  background-color:#fff;
}
.part {
  background: url(../img/part__bg.jpg) fixed no-repeat 50% 50% / cover;
  position: relative;
  padding-bottom: 100px;
}
  .part:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
  }
.part__container {
  position: relative;
  color: #fff;
}
  .part__slider-item {
    width: 270px;
    height: 80px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 190px;
    background-color: #fff;
    border-radius: 6px;
  }
  .owl-carousel .owl-prev {
    position: absolute;
    bottom: 20px;
    left: -25px;
  }
  .owl-carousel .owl-next {
    position: absolute;
    bottom: 20px;
    right: -25px;
  }
.news {
  background-color: #fff;
  color: #000;
}
  .news__ttl-wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }
    .news__ttl-link {
      text-decoration: underline;
      margin-top: 26px;
      margin-left: 31px;
      position: relative;
    }
      .news__ttl-link:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        bottom: 2px;
        left: -16px;
        background-color: #5a5656;
      }
  .news__item {
    height: 412px;
    padding-top: 260px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
  }
    .news__item:before {
      content: '';
      position: absolute;
      width: 110%;
      height: 240px;
      top: 0;
      right: -10px;

      background: #438da4;
      background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
      background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
      background: linear-gradient(to right, #438da4 0%,#39b563 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
      opacity: 0.7;
      z-index: 1;
      -webkit-transition: all .73s;
      -moz-transition: all .73s;
      -o-transition: all .73s;
      transition: all .73s;
      border-radius: 6px;
    }
    .news__item-img {
      position: absolute;
      width: 100%; 
      height: 240px;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
      -webkit-transition: all .73s;
      -moz-transition: all .73s;
      -o-transition: all .73s;
      transition: all .73s;
      border-radius: 6px;
    }
    .news__item-cnt {
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      z-index: 2;
      -webkit-transition: all 0s;
      -moz-transition: all 0s;
      -o-transition: all 0s;
      transition: all 0s;
    }
      .news__item-date {
        padding-left: 29px;
        position: relative;
        margin-bottom: 20px;
        position: relative;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
      }
        .news__item-date:before,
        .news__item-date:after {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          left: 1px;
          top: -2px;
          -webkit-transition: all 0s;
          -moz-transition: all 0s;
          -o-transition: all 0s;
          transition: all 0s;
        }
        .news__item-date:before {
          background: url(../img/news__clocks_black.svg) no-repeat 50% 50% / contain;
        }
        .news__item-date:after {
          background: url(../img/news__clocks_white.svg) no-repeat 50% 50% / contain;
          opacity: 0;
        }
      .news__item-ttl {
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Gilroy-ExtraBold';
        margin-bottom: 9px;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
      }
      .news__item-descr {
        max-height: 80px;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
      }
  .news__item:hover {
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.24);
    box-shadow: 0px 12px 28px -13px rgba(0,0,0,0.24);
  }
    .news__item:hover .news__item-img {
      height: 100%;
    }
    .news__item:hover .news__item-date:before {
      opacity: 0;
    }
    .news__item:hover .news__item-date:after {
      opacity: 1;
    }
    .news__item:hover:before {
      height: 100%;
    }
.cert {
  background: url(../img/cert__bg.jpg) fixed no-repeat 50% 50% / cover;
  position: relative;
  padding-bottom: 100px;
}
  .cert:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #438da4;
    background: -moz-linear-gradient(left, #438da4 0%, #39b563 100%);
    background: -webkit-linear-gradient(left, #438da4 0%,#39b563 100%);
    background: linear-gradient(to right, #438da4 0%,#39b563 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438da4', endColorstr='#39b563',GradientType=1 );
    opacity: 0.7;
  }
  .cert__container {
    position: relative;
    color: #fff;
  }
  .cert__slider.owl-carousel .owl-next,
  .cert__slider.owl-carousel .owl-prev {
    bottom: 130px;
  }
    .cert__slider-item {
      display: block;
      width: 224px;
      height: 317px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #fff;
      border-radius: 6px;
      margin: 15px auto 25px;
    }
.grading {
  background: url(../img/grading__bg.jpg) fixed no-repeat 50% 50% / cover;
  position: relative;
}
  .grading:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d4d4d4;
    opacity: 0.7;
  }
  .grading__container {
    position: relative;
  }
    .grading__form {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
    }
      .grading__form .input__wrp {
        background-color: #fff;
        width: 330px;
        max-width: unset;
      }
      .grading__form-top {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
        margin-bottom: 25px;
        width: 60%;
      }
      .grading__form .input__submit {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        padding: 15px 45px;
      }
.footer a {
  color: #fff;
}
  .footer a:hover {
    color: #39B54A;
  }
.footer-top {
  background-color: #252525;
  padding: 50px 0;
  color: #fff;
  -webkit-box-shadow: inset 0px 49px 54px -41px rgba(0,0,0,0.96);
  -moz-box-shadow: inset 0px 49px 54px -41px rgba(0,0,0,0.96);
  box-shadow: inset 0px 49px 54px -41px rgba(0,0,0,0.96);
}
  .footer__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }
    .footer__nav-item:nth-child(1),
    .footer__nav-item:nth-child(2),
    .footer__nav-item:nth-child(3) {
      position: relative;
      margin-bottom: 30px;
    }
      .footer__nav-item:nth-child(1):after,
      .footer__nav-item:nth-child(2):after,
      .footer__nav-item:nth-child(3):after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: -15px;
        left: 0;
        background-color: #464646;
      }
    .footer__nav-item-ttl {
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'Gilroy-ExtraBold';
    }
    .footer__nav-item-list {
      margin-top: 9px;
      max-width: 250px;
    }
      .footer .footer__nav-item-link {
        color: #b3b2b2;
        text-decoration: underline;
        font-size: 13px;  
      }
      .footer__nav-item-link:hover {
        text-decoration: none;
      }
      .footer__nav-item-link:not(last-child) {
        margin-bottom: 4px;
        display: block;
      }
  .footer__info-item {
    position: relative;
    text-align: right;
  }
    .footer__info-item:nth-child(1) {
      padding-top: 20px;
    }
      .footer__info-item:nth-child(1):before {
        content: '';
        position: absolute;
        width: 40%;
        height: 1px;
        top: 0;
        right: 0;
        background-color: #464646;
      }
    .footer__info-item:not(last-child) {
      margin-bottom: 30px;
    }
    .footer__info-item:after {
      content: '';
      position: absolute;
      width: 40%;
      height: 1px;
      bottom: -15px;
      right: 0;
      background-color: #464646;
    }
      .footer__info-item-ttl {
        text-transform: uppercase;
        font-family: 'Gilroy-ExtraBold';
        color: #464646;
        margin-bottom: 7px;
      }
    .footer__info-item-tel {
      font-size: 20px;
      font-weight: 600;
    }
    .footer__info-item-soc-wrp {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: flex-end;
      -ms-align-items: center;
      align-items: center;
    }
      .footer__info-item-soc:hover {
        opacity: .6;
      }
      .footer__info-item-soc:not(last-child) {
        margin-right: 10px;
      }
  .footer-bot {
    background-color: #000;
    color: #fff;
    padding: 40px 0 30px;
  }
    .footer-bot .footer__container {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
    }
      .footer__main-logo:hover {
        opacity: .7;
      }
      .footer-bot__info {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: center;
      }
        .footer__copy {
          max-width: 220px;
          padding-left: 45px;
          position: relative;
        }
          .footer__copy:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #464646;
            left: 25px;
            top: 0;
          }
        .footer-bot__akticom-link {
          max-width: 190px;
          display: block;
          padding-left: 55px;
          position: relative;
        }
          .footer-bot__akticom-link span {
            text-decoration: underline;
          }
          .footer-bot__akticom-link:before {
            content: '';
            position: absolute;
            width: 40px;
            height: 52px;
            background: url(../img/akticom__logo.svg) no-repeat 50% 50% / contain;
            left: 2px;
            top: -8px;
          }
        .footer-bot__akticom-link:hover:before {
          opacity: .5;
        }
      .footer-bot__policy {
        width: 100%;
        max-width: 900px;
        text-align: center;
        margin: 25px auto;
      }
        .footer-bot__policy a {
          text-decoration: underline;
        }
        .footer-bot__policy span {
          color: #39B54A;
          font-weight: 600;
        }